
    <div class="navbar navbar-default">
        <nav class="navbar navbar-inverse" class="panel panel-primary">
            <div>
                <img src="assets/infocl.png" alt="infocl">
            </div>
      <div class="col-9 text-right" class="form-row align-items-center">
          <div class="col-auto"><button class="btn btn-primary" routerLink="">Dashboard</button></div>
          <div class="col-auto"><button class="btn btn-primary" routerLink="gantt">Gantt</button></div>
          <div class="col-auto"><button class="btn btn-primary" routerLink="scheduler">Scheduler</button></div>
        </div>
      
      </nav>
    </div>
    